<div class="container-fluid text-center p-2">
  <h2>Todo</h2>

  @if (todoItems().length<=0) {
  <app-loader />
  }@else {
  <form>
    <label>Search: </label>
    <input
      type="text"
      name="search"
      [(ngModel)]="searchTerm"
      placeholder="Search todos..."
    />
  </form>
  <table class="table table-hover my-2">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">User Id</th>
        <th scope="col">Completed</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      @for (todo of todoItems() | filterTodos:searchTerm(); track todo.id) {

      <tr appHighlight [isCompleted]="todo.completed">
        <th appHighlight [isCompleted]="todo.completed" scope="row">
          {{ todo.id }}
        </th>
        <td appHighlight [isCompleted]="todo.completed">{{ todo.title }}</td>
        <td appHighlight [isCompleted]="todo.completed">{{ todo.userId }}</td>
        <td appHighlight [isCompleted]="todo.completed">
          {{ todo.completed ? "Yes" : "No" }}
        </td>
        <td appHighlight [isCompleted]="todo.completed">
          <button
            class="btn btn-danger btn-sm py-0 px-2"
            (click)="delete(todo.id)"
            [disabled]="!todo.completed"
          >
            X
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  }
</div>
